*,
::before,
::after {
  box-sizing: border-box;
  border-color: currentcolor;
  border-style: solid;
  border-width: 0;
}

*::-webkit-scrollbar-track-piece {
  background: #d3dce6;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background: #99a9bf;
  border-radius: 20px;
}
